/*   main work   */

* {
    margin: 0;
    padding: 0;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

/* nav bar */
nav {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; 
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 2%; 
}

.logo {
    height: 50px; 
    width: auto;
}

/* nav menu */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px; 
    margin: 0;
    padding-right: 4%;
}

/* list items */
nav li {
    display: inline-block;
}

/* links */
nav a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 400;
    padding: 10px 15px;
}

/* make sure content doesn't interrupt nav bar*/
.content {
    margin-top: 80px; 
}

body {
    background-image: linear-gradient(to right, #f5f3f4, #faf9f9);
}

/*   FORM, contact page   */
.contact-form-section {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-form-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    border: none;
}

.contact-inputs {
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    color: white;
    border-radius: 50px;
}

#message {
    padding-top: 7%;
}

.contact-form-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 13px;
    color: white;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #0b090a, #161a1d);
    cursor: pointer;
}

footer {
    padding-top: 0;
    padding-bottom: 2%;
}
